.slick-slider .slick-prev{
    &::before{
        content: '';
    }
}

.slick-slider .slick-next{
    &::before{
        content: '';
    }
}

.img_recomend_course {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    width: 480px;
    height: 270px;
  }