.banner{
    @media screen and (max-width: 639px) {
        display: none;
    }
}

.banner_item{
    width: 450px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.slick-slider .slick-prev{
    &::before{
        content: '';
    }
}

.slick-slider .slick-next{
    &::before{
        content: '';
    }
}

